.ipynb_checkpoints
*.pyc
.DS_Store
Untitled*
data
texts
temp
*.pdf
http_cache.sqlite
cache.sqlite
draft*
tfidf.csv
texts.tar
the-bulletin-nla.obj-68375465-word-frequencies.csv
the-bulletin-nla.obj-68375465-word-frequencies.npy
trove-digial-journals-datasette.csv
trove-digital-journals-datasette.csv
trove-government-publications.csv
words_by_year.csv
images
snippets*
requirements.txt.old
.env
digital-journals-20210730.csv
digital-journals-with-issues.csv
digital-journals-with-text-202007.csv
press-releases/press-releases-coronavirus-or-covid/press-releases-coronavirus-or-covid.csv
press-releases
journals
list_imports.py
dev-requirements.txt.old
harvest.db
harvested-metadata.ndjson
issues-enriched.ndjson
periodical-issues.csv
periodical-titles.csv
periodical-works.csv
periodicals.db
README.md.old
requirements.txt.old1
title-issues-test.ndjson
titles-enriched.ndjson
titles-incomplete.ndjson
titles-issues-added-test.ndjson
titles-issues-added.ndjson
titles-issues-enriched.ndjson
titles-issues.ndjson
periodicals
data-rocrate
the-bulletin*
old-data
bulletin-editorial-cartoons*
illustrations
ned-issues.ndjson
ned-periodical-issues.csv
ned-periodicals.csv
ned-periodicals.db
ned-periodicals.ndjson
