.ipynb_checkpoints
*.pyc
.DS_Store
Untitled*
data
texts
temp
*.pdf
http_cache.sqlite
cache.sqlite
draft*
tfidf.csv
texts.tar
the-bulletin-nla.obj-68375465-word-frequencies.csv
the-bulletin-nla.obj-68375465-word-frequencies.npy
trove-digial-journals-datasette.csv
trove-digital-journals-datasette.csv
trove-government-publications.csv
words_by_year.csv
images
snippets*
requirements.txt.old
.env
digital-journals-20210730.csv
digital-journals-with-issues.csv
digital-journals-with-text-202007.csv
press-releases/press-releases-coronavirus-or-covid/press-releases-coronavirus-or-covid.csv
press-releases/press-releases-ufo/press-releases-ufo.csv
press-releases/press-releases-ufo.zip
journals/angry-penguins-broadsheet-nla.obj-320790312.zip
list_imports.py
press-releases/press-releases-atomic.zip