jupyterlab
voila
voila-material @ git+https://github.com/GLAM-Workbench/voila-material.git
pandas
requests
altair
tqdm
beautifulsoup4
python-slugify
ipywidgets
lxml
natsort
sqlite-utils
fpdf
arrow
nltk
pillow
scikit-learn
textblob
requests-cache
python-dotenv
humanize